<form class="form-horizontal form-label-left"
[formGroup]="fg"
(ngSubmit)="guardar(fg.controls['titulo'].value, fg.controls['genero'].value, 
            fg.controls['autor'].value)"
>
  <div class="form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12">Título</label>
    <div class="col-md-9 col-sm-9 col-xs-12">
      <input type="text" class="form-control" id = "titulo" placeholder="Título de la Canción"
        [formControl]="fg.controls['titulo']"
      >
      <div *ngIf = "fg.controls['titulo'].hasError('required')">
        Título requerido</div>
    </div> 
  </div>
  <div class="form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12">Género</label>
    <div class="col-md-9 col-sm-9 col-xs-12">
      <select class="select2_single form-control" id="genero" tabindex="-1"
        [formControl]="fg.controls['genero']"
      >
        <option></option>
        <option *ngFor = "let g of generos" value='{{g}}'>{{g}}</option>
      </select>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12">Autor</label>
    <div class="col-md-9 col-sm-9 col-xs-12">
      <input type="text" class="form-control" id="autor" placeholder="Autor de la Canción"
        [formControl]="fg.controls['autor']"
      >
      <div *ngIf = "fg.controls['autor'].hasError('longitudInvalida')">
          Debe tener al menos {{longitud}} caracteres</div>
        
      <div *ngIf = "fg.controls['autor'].hasError('InicioNomre')">
          Debe comensar con letra mayuscula</div>
      </div>  
    </div>
    
  <div class="ln_solid"></div>
  <div class="form-group">
    <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">                      
      <button type="submit" id="btn-add-song" class="btn btn-success">Adicionar</button>
    </div>
  </div>
</form>