<div class="card">
  <div class="card-header">
     <h4><strong>Título: </strong>{{cancion.titulo}} <span *ngIf = "cancion.mas_reciente">
       NUEVA
     </span><i class="fa fa-music" style="float: right;"></i></h4>     
  </div>
  <div	class="card-content" [@esFavorita]="cancion.favorita ? 'estadoFavorita':'estadoNoFavorita'"> 
    <ul>    
      <li [ngSwitch] = "cancion.genero"> 
        <h5 *ngSwitchCase = "'Dance'" style="color: green">
          <strong>Género: </strong>{{cancion.genero}}
        </h5>
        <h5 *ngSwitchCase = "'Pop'" style="color: orangered">
          <strong>Género: </strong>{{cancion.genero}}
        </h5>
        <h5 *ngSwitchCase = "'Rock'" style="color: chocolate">
          <strong>Género: </strong>{{cancion.genero}}
        </h5>
        <h5 *ngSwitchDefault style="color:black">
            <strong>Género: </strong>{{cancion.genero}}
        </h5>
      </li>
      <li> <h5><strong>Autor: </strong><span ngNoBindeable>{{'{-_-}'}}</span> {{cancion.autor}}</h5></li>
      <li> <h6><strong>Pista Numero: </strong>{{numeroPista}}</h6></li>
    </ul>
    <app-favorito  (notificarFavorito)="favorito(cancion)"></app-favorito>   
    <div>
      <span>Votar <i class="fa fa-plus-circle" (click)="votoMas(cancion)" 
                     appTrackearClick data-trackear-tags="cancion_voto_mas album_item"></i> -
                  <i class="fa fa-minus-circle" (click)="votoMenos(cancion)"
                     appTrackearClick data-trackear-tags="cancion_voto_menos album_item"></i> 
       {{cancion.votos}} 
      </span>
      <a [routerLink]="['./detallecancion']" style="float: right;">Ver Detalles</a>
    </div>
    <button class="btn btn-danger col-md-12 fa fa-download fa-2x"  >Descargar </button>
  </div>
</div>