<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
      <div class="x_title">
        <h2>Autores: <small>Registrar un autor</small></h2>        
        <div class="clearfix"></div>
      </div>
      <div class="x_content">
        <br />
        <form id="autor.form" data-parsley-validate class="form-horizontal form-label-left"
        [formGroup]="fg" 
        (ngSubmit)="guardar(fg.controls['nombre'].value, fg.controls['apellido'].value, fg.controls['pais'].value)"
        >
          <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="nombre">Nombre <span class="required">*</span>
            </label>
            <div class="col-md-6 col-sm-6 col-xs-12">
              <input type="text" id="nombre" required="required" class="form-control col-md-7 col-xs-12"
              [formControl]="fg.controls['nombre']">
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="apellido">Apellido <span class="required">*</span>
            </label>
            <div class="col-md-6 col-sm-6 col-xs-12">
              <input type="text" id="apellido" name="last-name" required="required" class="form-control col-md-7 col-xs-12"
              [formControl]="fg.controls['apellido']">
            </div>
          </div>  
          <div class="form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12" for="pais">Pais <span class="required">*</span>
              </label>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <input type="text" id="pais" required="required" class="form-control col-md-7 col-xs-12"
                [formControl]="fg.controls['pais']">
              </div>
              <div>
                <ul>
                  <li *ngFor= "let p of paisesBusqueda">{{p}}</li>
                </ul>
              </div>
            </div>
          <div class="ln_solid"></div>
          <div class="form-group">
            <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
              <button type="submit" class="btn btn-success">Agregar</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
