<div class="container content">
  <div class="page-header">
    <div style="float: right;">
      <select (change)="translate.use($event.target.value)">
        <option value="es">Español</option>
        <option value="en">Ingles</option>
        <option value="fr">Frances</option>
      </select>
    </div>
      <div style="text-align:center">
          <h1>{{ title }}! <b [innerHTML]="'HOLA' | translate"></b> </h1> 
    </div>
    <div class="container">
      <div class="navlinks">
        <a [routerLink]="['/home']">Home</a> |       
        <a [routerLink]="['/album']">Album</a> |
        <a [routerLink]="['/autor']" *ngIf="authService.getUser()">Autor</a> |
        <a [routerLink]="['/descarga']" *ngIf="authService.getUser()">Descarga</a>
        <a [routerLink]="['/login']" style="float: right;">Login</a>
      </div>
    </div>
  </div>  
  <router-outlet></router-outlet>
</div>
<hr class="mb-5">
Fecha: {{time | async}}
