<div class="row" >   
  <div class="col-md-10">
      <span> Marcar como Favorita: <i class="fa fa-heart" 
                                    (click)="favorito()"
                                    ngClass = "marcarComoFavorito"
                                    appTrackearClick data-trackear-tags="cancion_favorita"
                                    ></i></span>
  </div>    
</div>
